<div class="content-wrapper" style="color: gray; height:50px; padding-top: 0px; padding-bottom: 5px; background-image:url(@Url.Content("~/Images/Footer/Background.png?d=20131114")); background-repeat:repeat-x">
    
    <div style="width: 100%; text-align: center; position: absolute">
        <p>
            สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง ถนนฉลองกรุง เขตลาดกระบัง กรุงเทพมหานคร ประเทศไทย 10520<br />
            โทรศัพท์ +66(0) 2329 8000 - 2329 8099
        </p> 
    </div>

    <div style="width: 100%; text-align: right; vertical-align: bottom; position: absolute">
        <br /><br />
        <img src="~/Images/Footer/internet-explorer-v7.png" style="width:70px;"/>
        <img src="~/Images/Footer/chrome.png" style="width:20px;"/>
        <img src="~/Images/Footer/firefox.png" style="width:20px;"/>
        <img src="~/Images/Footer/safari.png" style="width:20px;"/> 
        @*<img src="~/Images/Footer/opera.png" style="width:20px;"/>*@
        &nbsp;
    </div>
</div>