@{
    var User = Session["Username"];
    var Memb = Session["MemberType"];
}

<table style="width:100%;border-bottom:dotted"><tbody style="width:100%"><tr>
    <td style="width:150px;background-color:salmon">
                        <div >
                            <img src="@Url.Content("~/Content/images/header/carloverlogo.png")" />
                        </div>
    </td>
    <td style="background-color:lightpink;" >
                        <div >
                            <img src="@Url.Content("~/Content/images/header/carlover.png")" />
                        </div>
    </td>
    <td style="width:350px;background-color:salmon" >    
                        <div >
                                Username: @User<br>
                                Status: @Memb<br>
                        </div>
    </td></tr></tbody></table>