
<table style ="width:233px;">

    <tr>
        <td style ="height:60px;">
        <a class ="button-link" style="padding:10px 42.5px;"  href="/Carlover/BanMember">BAN USER</a>
        </td>
    </tr>
     <tr>
        <td style ="height:60px;">
        <a class ="button-link" style="padding:10px 29.5px;" href="/Carlover/logout">ออกจากระบบ</a>
        </td>
    </tr>
</table>

