
<table style ="width:233px;">

    <tr>
        <td style ="height:60px;">
        <a class ="button-link" style="padding:10px 7px;"  href="/Carlover/Viewcar">แจ้งเตือนสภาพรถ</a>
        </td>
    </tr>
    <tr>
        <td style ="height:60px;">
        <a class ="button-link" style="padding:10px 0px;" href="/AcademicCalender/Index">ประวัติการใช้บริการ</a>
        </td>
    </tr>
    <tr>
        <td style ="height:60px;">
        <a class ="button-link" style="padding:10px 15.5px;" href="/AcademicCalender/Index">ข้อมูลส่วนบุคคล</a>
        </td>
    </tr>
     <tr>
        <td style ="height:60px;">
        <a class ="button-link" style="padding:10px 29.5px;" href="/Carlover/logout">ออกจากระบบ</a>
        </td>
    </tr>

    @*<tr>
        <td class ="button-link" >
        <a class="k-link" href="/AcademicCalender/Index">จัดทำแผนการเรียน</a>
        </td>
    </tr>
    <tr>
        <t style ="width:150px; text-align :center; border:solid">
            
        <a class="k-link" href="/AcademicCalender/Index">จัดทำแผนการเรียน</a>
        </t>
    </tr>*@
</table>

