<table style ="width:233px;">
    <tr>
        <td style ="height:60px;">
        <a class ="button-link" style="padding:10px 31.5px;"  href="/Carlover/AddService">Add Service</a>
        </td>
    </tr>
    <tr>
        <td style ="height:60px;">
        <a class ="button-link" style="padding:10px 47.5px;"  href="/Carlover/BanUser">Ban User</a>
        </td>
    </tr>
     <tr>
        <td style ="height:60px;">
        <a class ="button-link" style="padding:10px 26px;" href="/Carlover/logout">ออกจากระบบ</a>
        </td>
    </tr>
</table>

