
<table style ="width:233px;">

    <tr>
        <td style ="height:40px;">
        <a class ="button-link"  href="/Carlover/Register">Register</a>
        </td>
    </tr>
    <tr>
        <td style ="height:40px">
        <a class ="button-link"  href="/Carlover/CopyMemberRegister">จัดทำแผนที่</a>
        </td>
    </tr>
    @*<tr>
        <td style ="height:40px">
        <a class ="button-link"  href="/AcademicCalender/Index">จัดทำแผนการเรียน</a>
        </td>
    </tr>*@
    @*<tr>
        <td class ="button-link" >
        <a class="k-link" href="/AcademicCalender/Index">จัดทำแผนการเรียน</a>
        </td>
    </tr>
    <tr>
        <t style ="width:150px; text-align :center; border:solid">
            
        <a class="k-link" href="/AcademicCalender/Index">จัดทำแผนการเรียน</a>
        </t>
    </tr>*@
</table>
<style>

    .button-link {
    height:60px;
    padding: 10px 60px;
    margin:0px 15px;
    background: #ffa07a;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.button-link:hover {
    background: #FAAFBE;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

</style>
